<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
	</settings>

	<!-- 由于重写了分页逻辑，所以这里添加自定义内容 -->
	<plugins>
		<plugin interceptor="com.chetong.aic.page.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.chetong.aic.page.dialect.MySQLDialect" />
		</plugin>
	</plugins>
</configuration>